@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
}

html, body {
    font-family: Roboto;
    font-weight: normal;
}

p {
    font-size: 14px;
    color: rgb(0, 0, 0);
}
